.menuContainerProjects {
  position: relative;
  height: 88%;
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

.menuGridProjects {
  width: 99%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 15px;
  grid-auto-flow: row;
  align-items: center;
  text-align: center;
  justify-items: center;
  border-width: 5px;
  margin: 0px 5px 10px 5px;
  border-style: groove;
  border-color: var(--retro-gray);
  background: var(--retro-blue);
}

.menuGridProjects button {
  height: min-content;
  width: min-content;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Press Start 2P", system-ui;
  transition: all 0.5s ease;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  padding: 5px;
}

.menuGridProjects img {
  height: 70px;
  padding: 5px;
}

.menuGridProjects button:hover {
  color: #001f3f;
  background-color: var(--retro-gray);
}

@media screen and (max-width: 1200px) {
  .menuGridProjects {
    margin: 0px;
  }

  .menuContainerProjects {
    height: 90%;
  }

  .menuGridProjects button {
    font-size: 12px;
  }
}
