.menuContainer {
  position: relative;
  height: 81%;
  width: 100%;
  background: var(--solid-color);
  margin: 20px 0px 10px 0px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px 0px 20px 0px;
  padding: 10px;
}

.menuText {
  width: max-content;
  padding: 0px 0px 5px 10px;
}

.menuTop p {
  text-align: left;
  white-space: nowrap;
}

.location {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.menuTop {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: max-content;
}

.imageBox {
  position: relative;
  height: 100%;
  width: 100%;
}

.jurgis {
  width: 40%;
  clip-path: circle();
  vertical-align: middle;
}

.menuTop h1 {
  text-align: left;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.menuGrid {
  width: 99%;
  height: 67%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 15px;
  grid-auto-flow: row;
  align-items: center;
  text-align: center;
  justify-items: center;
  border-width: 5px;
  margin: 0px 5px 10px 5px;
  border-style: groove;
  border-color: var(--retro-gray);
  background: var(--retro-blue);
}

.merge {
  grid-column: 1/3;
}

.menuGrid button {
  height: min-content;
  width: min-content;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Press Start 2P", system-ui;
  transition: all 0.5s ease;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  padding: 5px;
}

.menuGrid button:hover {
  color: #001f3f;
  background-color: var(--retro-gray);
}

.projectButton img {
  height: 70px;
  vertical-align: middle;
}

.educationButton {
  height: min-content;
  width: min-content;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Press Start 2P", system-ui;
}

.educationButton img {
  height: 70px;
  vertical-align: middle;
}

.resumeButton {
  height: min-content;
  width: min-content;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Press Start 2P", system-ui;
}

.resumeButton img {
  height: 70px;
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .menuContainer {
    height: 84%;
  }

  .menuText {
    padding: 0px;
    width: 70%;
  }

  .menuText h1 {
    font-size: 24px;
  }

  .menuText p {
    font-size: 8px;
  }

  .menuTop {
    width: 100%;
  }

  .menuGrid {
    margin: 5px 0px;
  }

  .imageBox {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
  }

  .jurgis {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    width: 50%;
    clip-path: circle();
    vertical-align: middle;
  }

  .location {
    height: 12px;
    width: 12px;
  }

  .menuGrid {
    height: 81%;
  }

  .menuGrid button {
    font-size: 16px;
  }
}
