.ghost {
  position: relative;
  height: 90%;
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

.menuButtonGhost {
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  border: none;
  z-index: 2;
}

.menuButtonGhost:hover img {
  transform: scale(0.5);
}

.menuButtonGhost img {
  height: 25px;
  width: 25px;
  vertical-align: text-top;
  transition: all 0.3s ease-in-out;
}

.ghostContainer {
  animation: appear 0.25s;
  width: 99%;
  height: 98%;
  border-width: 5px;
  margin: 0px 5px 10px 5px;
  border-style: groove;
  border-color: var(--retro-gray);
  background: var(--retro-blue);
}

.ghostScreen {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 92%;
  width: 100%;
  margin: 15px;
}

.ghostTop {
  background-color: var(--retro-gray);
  position: absolute;
  top: 0;
  left: 5px;
  width: 96%;
  height: 70%;
  text-align: center;
}

.ghostTop h2 {
  font-family: "Press Start 2P", system-ui;
  font-size: larger;
  background: var(--retro-gray);
  color: var(--retro-text);
}

.ghostScreen h2 {
  text-align: center;
  padding: 10px 0px;
}

.ghostDisplay {
  position: relative;
  width: 100%;
  height: 100%;
}

.ghostBlurb {
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 5px 10px;
}

.ghostTypes {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 5px 10px;
  gap: 10px;
}

.ghostTypes p {
  padding: 5px;
}

.ghostPython {
  background-color: #3770a1;
  height: auto;
  width: min-content;
  border-radius: 5px 5px 5px 5px;
}

.ghostTypes p {
  color: #494747;
}
