header {
  background-color: #000000;
opacity: 1;
background-image:  linear-gradient(30deg, #666666 12%, transparent 12.5%, transparent 87%, #666666 87.5%, #666666), linear-gradient(150deg, #666666 12%, transparent 12.5%, transparent 87%, #666666 87.5%, #666666), linear-gradient(30deg, #666666 12%, transparent 12.5%, transparent 87%, #666666 87.5%, #666666), linear-gradient(150deg, #666666 12%, transparent 12.5%, transparent 87%, #666666 87.5%, #666666), linear-gradient(60deg, #66666677 25%, transparent 25.5%, transparent 75%, #66666677 75%, #66666677), linear-gradient(60deg, #66666677 25%, transparent 25.5%, transparent 75%, #66666677 75%, #66666677);
background-size: 52px 91px;
background-position: 0 0, 0 0, 26px 46px, 26px 46px, 0 0, 26px 46px;
}


