div .resume {
  position: relative;
  width: 100%;
  height: 81%;
  margin: 20px 0px;
  text-align: center;
  border-width: 4px 4px 4px 4px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px 0px 20px 0px;
  background: var(--solid-color);
}

div .resume .menuButtonResume {
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 18px;
  border: none;
  padding: 0px 0px 0px 10px;
}

.menuButtonResume::after,
.menuButtonResume::before {
  content: "";
  position: absolute;
  width: 57%;
  height: 2px;
  background: #ffffff;
  bottom: -5px;
  left: 35px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.menuButtonResume::before {
  top: -5px;
  transform-origin: left;
}

.menuButtonResume:hover::after,
.menuButtonResume:hover::before {
  transform: scaleX(1);
}

div .resume .menuButtonResume img {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

h1 {
  padding: 10px;
}

div .resumeContainer {
  width: 100%;
  height: 89%;
  padding: 0px 20px 5px 20px;
  align-items: center;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0px 0px 10px 0px;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
}
