@import "tailwindcss";

:root {
  --dark-color: oklch(0.17 0 0);
  --accent-color: #505050c9;
  --solid-color: #161616ce;
  --retro-gray: #bbbbbb;
  --retro-blue: #000085;
  --retro-text: #001f3f;
}

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

h1 {
  font-family: "Orbit", sans-serif;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.lmu {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.clip-circle {
  clip-path: circle();
}

.roboto {
  font-family: "Roboto", "sans-serif";
}

.game {
  font-family: "Press Start 2P", system-ui;
}

.groove {
  border-style: groove;
}

.grid-projects {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.span-shadow {
  box-shadow: inset -2px -2px #dfdfdf, inset 2px 2px grey;
}
